.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-color: #f0f0f0;
}
.main-box {
    width: 840px;
    height: 655px;
    background-color: #ffffff;
    border-radius: 18px 18px 185px 18px;
    margin: auto auto;
    padding: 56px;
}
form {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #cecece;
    padding-bottom: 47px;
    position: relative;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
input {
    max-width: 160px;
    height: 72px;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    margin-right: 31px;
    font-family: "Poppins-ExtraBold";
    font-size: 32px;
    color: #0b0b0b !important;
    outline-color: hsl(259, 100%, 65%);
    padding: 23px;
    background-color: transparent !important;
}
label {
    font-family: "Poppins-Bold";
    font-size: 21px;
    color: #626262;
}
button {
    background-color: #000000 !important;
    border-color: #000000 !important;
    border-radius: 50%;
    padding: 26px;
    position: absolute;
    bottom: -47px;
    right: 0;
}
button:hover,
button:active,
button:focus {
    cursor: pointer;
    background-color: hsl(259, 100%, 65%) !important;
    border-color: hsl(259, 100%, 65%) !important;
}
.error input {
    outline-color: hsl(0, 100%, 67%);
}
.error label {
    color: hsl(0, 100%, 67%);
}
.result *{
    font: 100px/150px "Poppins-ExtraBoldItalic";
    color: #000000;
}
.result span {
    color: hsl(259, 100%, 65%);
}

@media only screen and (max-width: 768px) {
    form {
        padding-bottom: 90px;
    }
    button {
        right: calc(50% - 25px);
    }
    .result {
        padding-top: 40px;
    }
}